.navbar{
  position: fixed;
  z-index: 10;
  height: fit-content;
  transition: 300ms ease;
  background-color: rgba(66, 66, 66, 0.753);
  padding: 0.5em 0.5em;
  width: 3.5em;
  margin-left: 2em;
  border-radius: 1.3em;
  top: 40%;
  backdrop-filter: blur(2px);
}

.navbar ul{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: 100%;
}
.navbar ul li{
  position: relative;
  list-style: none;
  padding: 0.3em 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  border-radius: 1em;
  width: 0;
  background: #9455D3;
  transition: width 200ms ease-in-out, left 200ms ease-in-out;
}
.navbar ul li a:hover > svg{
  color: #c191f1;
}


.navbar ul li a:hover::after {
  width: 100%;
}

.navbar ul li a:hover:not(:hover)::after {
  left: 100%;
}

.navbar span{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  background-color: #222222;
  opacity: 0;
  position: absolute;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 1em;
  top: 0;
  transition: 300ms ease-in-out;
  right: -300%;
  bottom: 0;
  text-align: start;
  transform: translateX(10px);
  width: 100px;
  white-space: nowrap;
}
.navbar span:hover{
  display: none !important;
}

.navbar span:hover::after{
  content: none;
}

.navbar ul li:hover > span {
  transition: 300ms ease;
  transform: translateX(0);
  opacity: 1;
}

.navbar svg{
  font-size: 1.7em;
}

.page a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  border-radius: 1em;
  width: 100% !important;
  background: #9455D3;
  transition: width 200ms ease-in-out, left 200ms ease-in-out;
}

.page a > svg{
  color: #c191f1;
}



@media (max-width: 1000px){
  .navbar{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0;
    backdrop-filter: blur(20px);
  }
  .navbar ul{
    display: flex;
    flex-direction: row;
  }
  .navbar ul li{
    width: 10%;
  }
  .navbar span{
    transform: translateX(8px);
    bottom: -50px;
    top: auto;
    left: -10px;
    right: auto;
  }
  .navbar ul li span{
    padding: 0.5em;
  }
  .navbar ul li:hover > span {
    transform: translateX(-5px);
  }
}