.container{
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 0.5em;
  background-color: rgba(66, 66, 66, 0.753);
  backdrop-filter: blur(2px);
  padding: 1em;
  line-height: 1.5;
  font-size: 2em;
}
.container div{
  display: inline;
  margin-left: 6px;
  color: #c48aff;
} 
.info{
  display: inline;
}


.figModel1, .figModel2, .figModel3{
  position: absolute;
  padding: 0.32em;
  border-radius: 3em;
  background: linear-gradient(172deg, #1a227ee0, #87cfebb2);
}
.figModel2, .figModel3{
  width: 3em;
}
.figModel1{
  width: 5.7em;
  top: -0.5em;
  left: -2em;
}
.figModel2{
  top: 1em;
  z-index: 1;
  left: -2.8em;
}
.figModel3{
  top: 2.5em;
  left: -2.5em;
}

@media (max-width: 600px){
  .figModel1, .figModel2, .figModel3{
    display: none !important;
  }
  .container{
    padding: 0.5em;
  }
  .container p{
    font-size: 1em;
    max-width: 80%;
  }
  .container div{
    font-size: 1em;
  }
}