.container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 80%;
   max-width: 70em;
   margin: auto;
   gap: 0.5em;
}
.FLfirstItem, .FLsecondItem{
   width: 49%;
   height: 45vh;
   display: flex;
   flex-direction: column;
   gap: 0.5em;
}
.SLfirstItem{
   width: 39%;
   border: 1px solid blue;
   height: 30vh;
   gap: 0.5em;
}
.SLSecondItem{
   border: 1px solid blue;
   width: 59%;
   gap: 0.5em;
   height: 30vh;
}