.container{
  margin: 5em auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  position: relative;
}
.image{
  position: absolute;
  width: 35vw;
  border-radius: 0.5em;
  height: 38vh;
  position: relative;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  right: 0;
  left: 0;
  bottom: -2em;
}